{% extends 'base.html' %}
{% block header %}
    <h1>
        {% block title %}Edit "{{ post['title'] }}"{% endblock %}
    </h1>
{% endblock %}
{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title"
               id="title"
               value="{{ request.form['title'] or post['title'] }}"
               required/>
        <label for="body">Body</label>
        <textarea name="body" id="body">
    {{ request.form['body'] or post['body'] }}</textarea>
        <input type="submit" value="Save" />
    </form>
    <hr />
    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
        <input class="danger"
               type="submit"
               value="Delete"
               onclick="return confirm('Are you sure?');"/>
    </form>
{% endblock %}
