{% extends 'base.html' %}
{% block header %}
    <h1>
        {% block title %}Register{% endblock %}
    </h1>
{% endblock %}
{% block content %}
    <form method="post">
        <label for="username">Username</label>
        <input required id="username" name="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Register">
    </form>
{% endblock %}
