<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <nav>
        <h1>
            <a href="{{ url_for('index') }}">Tien Dep Trai</a>
        </h1>
        <ul>
            {% if g.user %}
                <li>
                    <span>{{ g.user['username'] }}</span>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('auth.register') }}">Register</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.login') }}">Log In</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</html>
